/* CSS (styles.css) */
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(16,3,23);
    background: linear-gradient(186deg, rgba(16,3,23,1) 29%, rgba(73,80,81,1) 100%);
}



header {
    background: rgb(16,3,23);
    background: linear-gradient(90deg, rgb(149, 114, 168) 29%, rgba(253,29,29,0.4206932773109243) 67%, rgba(252,176,69,0.8548669467787114) 100%);
    color: #fff;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav a {
    color: antiquewhite;
    text-decoration: none;
}
option{
    background-color: #203A43;
    color: whitesmoke;
}
#language{
    margin-right: 20px;
    font-size: 17px;
    height: 40px;
    width: 120px;
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,70,121,0.768032212885154) 35%, rgba(0,212,255,1) 100%); */
    color:white;
    border-radius: 15px;
}

.log {
    cursor: pointer;
    border: 0;
    background-color: rgb(42, 165, 91);
    border-radius: 4px;
    font-weight: 600;
    /* margin: 0 10px; */
    width: 100px;
    margin-left: 60%;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
  }
  .log:hover{
      
      color: white;
      /* width:; */
      box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
      background-color: rgba(104, 85, 224, 1);
    }
    .reg{
        
    cursor: pointer;
    border: 0;
    background-color:grey;
    border-radius: 4px;
    font-weight: 600;
    /* margin: 0 10px; */
    width: 100px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
}
.reg:hover{
    
    color:white;
    /* width:; */
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color: rgba(104, 85, 224, 1);
}

#about{
    width: 60vw;
    box-sizing: content-box;
    background-color:black;
    
}
#contact{
    width: 60vw;
    box-sizing: content-box;
    background-color:black;
}
#home{
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section {
    background-image: url("a3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(250, 235, 215, 0.944);
    padding: 1em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section:hover{
        transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    }

#search img{
    background-color: transparent; 
    opacity: 11; 
    border-radius: 70%;
    height: 30px;
    width: 40px;
    background-blend-mode: color-burn;
    aspect-ratio: 1/3;
    

}
#search{
    border-radius: 45%;
    cursor: pointer;
    border: 2px solid rgb(0, 208, 255);
}
#search:hover{
    /* background-color: rgb(42, 144, 165); */
    box-shadow: #2D3748;
}

.content{
    display: flex;
    flex-direction: row;
    height: 40px;
    gap: 10px;

}
.content input{
    border-radius:20px;
    height: 40px;
    margin-top: 5px;
    width: 400px;
    aspect-ratio: 1/3;
    border: 2px solid rgba(0, 213, 255, 0.59);
    font-size: 15px;
}



h1 {
    margin-top: 0;
}